@import '../Lib.scss';

// BoxIconTop
@mixin box {
  text-align: center;
  padding: 0 6%;
}

.Box {
  @include box;
  & h3 {
    font-weight: 300;
    font-size: 22px;
    padding: 40px 5% 30px;
  }
  & p {
    padding-bottom: 30px;
  }
}

.IconTop svg {
  fill: $bk-variant4;
}

.BoxCallToAction {
  text-align: center;

  p {
    padding-bottom: 25px;
  }

  h2 {
    padding-bottom: 25px;
  }

  a {
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: 12px;
      fill: #36f;
      transition: all 0.3s ease 0s;
    }

    &:hover {
      fill: var(--primary-action-color-hover);
    }
  }
}

// BoxIconLeft
.BoxIconLeft {
  display: flex;

  & h3 {
    padding-bottom: 8px;
  }

  .Icon {
    margin-right: 16px;

    & svg {
      height: 100px;
      width: 100px;
      border-radius: 50px;

      @include tablet {
        height: 36px;
        width: 36px;
      }

      @include desktop {
        height: 50px;
        width: 50px;
      }
    }
  }
}

.BkBlue svg {
  fill: $blue;
}

// Variants para IconLeft responsive
.BkVariant1 svg {
  fill: $bk-variant1;
}
.BkVariant2 svg {
  fill: $bk-variant2;
}
.BkVariant3 svg {
  fill: $bk-variant3;
}
.BkVariant4 svg {
  fill: $bk-variant4;
}

// BoxIconCheck
.BoxIconCheck {
  display: flex;
  text-align: center;

  & svg {
    height: 30px;
    width: 30px;
    fill: $blue;
  }
}

// Box icon top SHADOW
.CircleShadowContainer {
  text-align: center;

  h3 {
    padding: 30px 0px 20px;
  }
}
.CircleShadow {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 10px 10px 12px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 35px;
    width: 40px;
    fill: $blue;
  }
}
