@import '../../Lib.scss';

@mixin primary-color {
  background-color: $primary-action-color;
  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: $primary-action-color-hover;
  }
}

@mixin button {
  box-shadow: none;
  width: 100%;
}

.ActionButton {
  @include button;
  @include primary-color;
  text-decoration: none;
  display: inline-block;
  height: 52px;
  line-height: 52px;
  padding: 0 10px;
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 700;
  color: white;
}
