@import "../Lib.scss";

// Links
.MenuContainer {
  @include medium {
    display: flex;
    flex-direction: column;
  }
  & a {
    font-weight: 500;
    color: $text-white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px 15px;
    font-size: 15px;
    @include medium {
      width: max-content;
      color: $text-river-bed;
      padding: 6px 15px;
      font-size: 16px;
    }
  }
}

// Sign
.SignButton {
  & a {
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 24px;
    text-decoration: none;
    color: $text-white;
    border: 2px solid $text-white;
    background: none;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: $bk-variant5;
    }

    @include medium {
      color: $bk-variant5;
      border: 2px solid $bk-variant5;

      &:hover {
        color: $text-white;
      }
    }
  }

  & a:first-child {
    border-right: none;
    border-radius: 30px 0px 0px 30px;
  }

  & a:last-child {
    border-radius: 0px 30px 30px 0px;
  }
}
