@import '../Lib.scss';

// Index styles
.ContainerSection {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 10px;

  @include tablet {
  grid-template-columns: repeat(2, 50%);
  }

  &__connect {
    padding: 36px 0px;
  }

  &__inputs {
    display: grid;
    column-gap: 30px;

    @include mobil {
      grid-template-columns: repeat(2, minmax(140px, 100%));

      & div:nth-child(5) {
        grid-area: 3 / span 2;
      }
    }

    @include tablet {
      grid-template-columns: repeat(2, minmax(150px, 100%)); 
    }
  }

  &__info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h6 {
      font-weight: 400;
      color: #2c5260;
    }
  }
}
