@import '../../Lib.scss';

// Social Icons
.ListSocialMedia {
  display: flex;
  list-style: none;
  justify-content: center;

  & li {
    padding: 0 2px;

    a {
      align-items: center;
      border-radius: 50%;
      background-color: #3d555a;
      display: flex;
      justify-content: center;
      width: 40px;
      height: 40px;
      transition: background-color .5s ease-in-out;

      &:hover {
        background-color: #0056b3;
      }

      svg {
        height: 20px;
        fill: $white;
      }
    }
  }
}