@import '../Lib.scss';

// Box price
.Price {
  padding: 21px 10px 11px;
  border-radius: 5px;
  margin: 28px 0 0;
  z-index: 10;
  transition: all 0.3s ease 0s;
  max-width: 210px;
  text-align: center;
  color: $white;
  line-height: 1;

  & .ContTotal {
    font-size: 72px;
    font-weight: 300;
    color: #fff;
    line-height: 1;
    padding: 0;
  }

  & p {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    top: -5px;
  }

  & sup {
    display: inline-block;
    position: relative;
    line-height: 0;
    top: -0.5em;
    font-size: 24px;
    font-weight: 300;
    vertical-align: super;
    margin-bottom: 10px;
  }
}

.BkVariant1 {
  background-color: $blue;
}
.BkVariant2 {
  background-color: $text-river-bed;
}

// Module
.Module {
  display: flex;
  align-items: center;
}

.IconPlay,
.IconCancel {
  fill: #d0dadd;
}

.IconPlay {
  padding: 4px 5px 0px 0px;
}

.IconPlay svg {
  width: 20px;
  height: 20px;
}

.IconCancel svg,
.IconCheck svg{
  width: 25px;
  height: 25px;
}

.IconCheck {
  fill: $blue;
}