@import 'global.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body,
html {
  font-family: "Poppins", sans-serif;
  color: $font;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #00324c;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h3{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding: 16px 0 16px 32px;
}
ul ol,
ol ul {
  padding: 8px 0 8px 32px;
}
ul > li,
ol > li {
  padding-bottom: 8px;
  &:last-of-type {
    padding-bottom: 0;
  }
}

p,
li {
  font-size: 15px;
  line-height: 26px;
}
